<!-- ////////////// FOOTER ////////////// -->
footer
	section.infor
		.container
			.row
				.col-md-3.text
					h4 FULLSTACK VIETNAM
					br
					p Mobile:(+84) 969689893
						br
						|Email: admin@fullstackvietnam.com
						br
						|Địa chỉ: 28 đường số 2 - CYTI LAND - Phường 7 - Quận Gò Vấp - TPHCM	
				.col-md-3.text
					h4 LINKS
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Front End Master
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học FullStack Developers
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Design Chuyên Nghiệp 
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Lịch Khai Giảng
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Đăng ký Khoá Học
				.col-md-3.text3
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Front End Master
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học FullStack Developers
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Design Chuyên Nghiệp 
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Lịch Khai Giảng
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Đăng ký Khoá Học
				.col-md-3.form
					form
						.form-group.mt-4
							label(for="exampleInputEmail1") EMAIL
							input#exampleInputEmail1.form-control(type="email" aria-describedby="emailHelp" placeholder="Enter email")
							small#emailHelp.form-text.text-muted 
							button.btn.btn-primary(type="button") Gửi
	section.footer
		.container-fluid
		.row
			.col.copyright
				span.m-b-0.mt-3 Copyright 2018 by 
					a(href='/') FullStack Vietnam.
			.mr-auto
					i.fa.fa-twitter(aria-hidden="true")
					i.fa.fa-facebook(aria-hidden="true")
